/* ================================
   NAVBAR
================================ */

.navbar {
  background: var(--bg-soft);
  border-bottom: 1px solid var(--border-soft);
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(8px);
}

.navbar-container {
  max-width: 1100px;
  margin: auto;
  padding: 16px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.navbar-logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary);
}

/* LINKS DESKTOP */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  font-size: 0.95rem;
  color: var(--text-main);
  opacity: 0.85;
  transition: opacity 0.2s ease, color 0.2s ease;
}

.navbar-links a:hover {
  opacity: 1;
  color: var(--primary);
}

/* ACTIONS */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* TOGGLE */
.theme-toggle {
  background: var(--bg-card);
  color: var(--text-main);
  border: 1px solid var(--border-soft);
  border-radius: 999px;
  padding: 0.45rem 0.7rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.theme-toggle:hover {
  transform: scale(1.08);
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--text-main);
  cursor: pointer;
}


.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 80;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100vh;

  background: var(--bg-soft);
  border-left: 1px solid var(--border-soft);
  z-index: 90;

  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  transition: right 0.35s ease;
}

.sidebar.open {
  right: 0;
}

.sidebar-close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--text-main);
  cursor: pointer;
}

.sidebar-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.sidebar-links a {
  font-size: 1rem;
  color: var(--text-main);
  transition: color 0.2s ease;
}

.sidebar-links a:hover {
  color: var(--primary);
}

.sidebar-toggle {
  margin-top: auto;
}
/* ================================
   MOBILE
================================ */

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;

    background: var(--bg-soft);
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 2rem 0;
    display: none;
  }

  .navbar-links.open {
    display: flex;
  }
}
